# model outputs / checkpoints
kcelectra_drug_model*/
checkpoint-*/

# Hugging Face trainer artifacts
*.safetensors
optimizer.pt
scheduler.pt
trainer_state.json
training_args.bin
rng_state.pth

# cache
__pycache__/
.ipynb_checkpoints/